.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: space-around;
}

.container {
  padding: 0 30px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #041c32;
  color: #efead8;
}
